/* styles.css */

body {
    /* ye-olde-theme */
    /* background-color: #f6eee3;
    --color: rgba(114, 114, 114, 0.3); */

    font-family: "Deneane", "Righteous", serif;

    /* normal theme */
    font-family: Arial, sans-serif;
    /* background-color: #b6d8d7; */
    background-color: #ceeaea;
    --color: rgba(114, 114, 114, 0.3);

    /* Dark theme */
    /* background-color: #191a1a;
    --color: #353838;
     */



    background-image:
        linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
        linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
    background-size: 3.4em 3.4em;

    /* Sky theme */
    /* background-image: url('https://maphren.neocities.org/imgs/grasssky.jpg');
    background-size: cover; */


    margin: 0;
    padding: 0;
}

header {
    color: #1d1e2c;
    text-align: center;
    padding: 0.2em;
}

h2 {
    padding-bottom: 0.25em;
    margin-bottom: 0.25em;
}

h3 {
    margin-top: 0.8;
    margin-bottom: 0.2%;
}

h4 {
    margin: 0.5em;
    font-size: 1.4em;
}

footer {
    font-size: 70%;
    color: #1d1e2c;
    text-align: center;
    padding: 1.7em;
}

main {
    padding-left: 1.7em;
    padding-right: 1.7em;
    max-width: 68em;
    margin: auto;
}

h1 {
    /* text-align: center; */
    /* padding-bottom: 0.25em; */
    margin-bottom: 0em;
    margin-top: 3px;
}

li {
    margin-bottom: 1%;
    font-size: 1.375em;
}

.center {
    display: block;
    margin: 0 auto;
}

p {
    font-size: 1.45em;
    color: #1d1e2c;
    margin: 0em;
}

pre,
code,
element {
    color: white;
    background-color: #3f4a4a;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: #d4050cc9;
    /* Set the color on hover */
}

@media (max-width: 768px) {
    body {
        font-family: "Deneane", "Righteous", serif;
        font-family: Arial, sans-serif;
        background-color: #ceeaea;
        --color: rgba(114, 114, 114, 0.3);
        background-image:
            linear-gradient(0deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent),
            linear-gradient(90deg, transparent 24%, var(--color) 25%, var(--color) 26%, transparent 27%, transparent 74%, var(--color) 75%, var(--color) 76%, transparent 77%, transparent);
        background-size: 2.344em 2.344em;
        margin: 0;
        padding: 0;
    }
    header {
        color: #1d1e2c;
        text-align: center;
        padding: 0.142em;
    }

    h2 {
        padding-bottom: 0.178em;
        margin-bottom: 0.178em;
    }

    h3 {
        margin-top: 0.8;
        margin-bottom: 0.2%;
    }

    h4 {
        margin: 0.357em;
        font-size: 1em;
    }

    footer {
        font-size: 70%;
        color: #1d1e2c;
        text-align: center;
        padding: 1.21em;
    }

    main {
        padding-left: 1.21em;
        padding-right: 1.21em;
        max-width: 68em;
        margin: auto;
    }

    h1 {
        /* text-align: center; */
        /* padding-bottom: 0.25em; */
        margin-bottom: 0em;
        margin-top: 3px;
    }

    li {
        margin-bottom: 1%;
        font-size: 0.982em;
    }

    .center {
        display: block;
        margin: 0 auto;
    }

    p {
        font-size: 1em;
        color: #1d1e2c;
        margin: 0em;
    }

    pre,
    code,
    element {
        color: white;
        background-color: #3f4a4a;
    }
}