/* styles.css */

body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif; /* Optional: sets a basic font */
    margin: 0; /* Removes default margin */
    padding: 0; /* Removes default padding */
}

h1, h2, h3, h4, h5, h6 {
    color: white; /* Ensures headers are white */
}

p {
    color: white; /* Ensures paragraphs are white */
}

li
{
	font-size: 10em;
}
